<!DOCTYPE html>
<!-- 
  &: Anastasia Lee, Nia Lam, Dua Baig
  SoftDev
  Oct 2024
 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      LANDING PAGE
    </h1>
    <h2>
      &: Anastasia Lee, Nia Lam, Dua Baig<br>
      Request method used: POST
    </h2>

    <h3>
      Greetings! Enter your username below to proceed.
    </h3>
    <form action="/auth" method="POST">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>